<footer>
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-3">
				<h6><span class="foot-span">SERVICES</span></h6>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="service">CAD</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="gis">GIS</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="technology">TECHNOLOGY</a></li>
			</div>
			<div class="col-md-3">
				<h6><span class="foot-span">COMPANY</span></h6>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="abouts">About</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="contact">Contact</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="terms">Terms and Conditions</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="privacy">Privacy Policies</a></li>
				
			</div>
			<div class="col-md-3">
				<h6><span class="foot-span">LINKS</span></h6>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="partner">Partner with us</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="we-are-hiring">Career</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="work">Why us?</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="enquiry">Enquiry</a></li>
			</div>
			<div class="col-md-3">
				<h6><span class="foot-span">FOLLOW US ON</span></h6>
				<ul class="social list-inline margin0">
				<li id="fs"><a href="https://www.linkedin.com/company/gsource" title="linkedin" target="_blank"><span class="fa fa-linkedin"></a>
				<a href="https://www.facebook.com/gsourcedata/" title="Facebook" target="_blank"><span class="fa fa-facebook"></a>
				<a href="https://twitter.com/Gsourcedata" title="Twitter" target="_blank"><span class="fa fa-twitter"></a>
				<a href="https://plus.google.com/u/0/101255953418236897585" title="Twitter" target="_blank"><span class="fa fa-google-plus"></a></li>
				</ul>
			</div>

		</div>
		
	</div>
	<hr>
<div class="text-center">G-Source Technologies (2014-2017)</div>
</footer>

             </section>