
<div class="custom_section">
<div class="about">
	<div class="container">          
	  <ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a ui-sref="service">CAD Drafting Services</a></li> 
		<li id="bcrumb-li">Building Information Modelling (BIM)</li>  
	  </ol>
	</div>
    
		<div class="pdf cad-drafting">
            <div class="container">
				<div class="text-center"><h1 class="primary uppercase">BUILDING INFORMATION MODELLING (BIM) </h1></div>
                <h5 class="uppercase f22 text-center land-mob danger">Here’s a brief roundup of the data types our models will incorporate.</h5></br>
                <div class="row">
					<div class="container">
					
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="reason-detail text-center architectural">
                                <div class="circless circle"></div>
                                <h6 class="">ARCHITECTURAL </h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="reason-detail text-center plumbing">
                                <div class="circle circless"></div>
                                <h6 class="">PLUMBING </h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="reason-detail text-center structurals">
                                <div class="circle circless"></div>
                                <h6 class="">STRUCTURAL </h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="reason-detail text-center mechanical">
                                <div class="circle circless"></div>
                                <h6 class="">MECHANICAL </h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="reason-detail text-center hvac">
                                <div class="circle circless"></div>
                                <h6 class="">HVAC </h6>
                        </div>
                    </div>
					<div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="reason-detail text-center electrical">
                                <div class="circle circless"></div>
                                <h6 class="">ELECTRICAL </h6>
                        </div>
                    </div>
					
					</div>
					</div>
					<div class="needing"></div>
                </div>
			
            </div>
        </div>
		
		
		<div class="services pdf ">
            <div class="container">
                <h5 class="uppercase primary text-center">Our BIM services come with more than one advantage.</h5>
               <div class="row">
					<div class="container">
					<div class="col-lg-12 col-md-12 col-md-offset-2">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                       <div class="reason-detail text-center management">
							<div class="circle circles circless"></div>
							<h6 class="uppercase ">IMPROVED DATA MANAGEMENT</h6>
						</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="reason-detail text-center risk">
							<div class="circle circles circless"></div>
							<h6 class="uppercase ">LESS DEVELOPMEnTAL RISK </h6>
						</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="reason-detail text-center analysis">
							<div class="circle circles circless"></div>
							<h6 class="uppercase ">EFFECTIVE COST ANALYSIS </h6>
						</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="reason-detail text-center detail">
							<div class="circle circles circless"></div>
							<h6 class="uppercase ">LEVEL OF DETAIL </h6>
						</div>
                    </div>
					
					<div class="col-md-2-offset col-sm-2-offset col-xs-2-offset">
					</div>
					</div>
					</div>
					<div class="advantage-info">
                    <p class="civilmob">Our Civil 3D and Revit trained expert internal team will communicate directly with your architects and
                        engineers to collate important structural, MEP and survey data and develop highly accurate 3D models.
                        From DWG/DGN, orthophotos and point cloud data to PDFs, we analyze all formats ofdata.</p>
					</div>
					<div class="needing"></div>
                
            </div>
        </div>
	
	
	  <div class="crew services">
        <!-- <div class="container"> -->
            <!-- <div class="partner-points"> -->
                 <!-- <div class="partnership reasons bim"> -->
                  
                    <!-- <ul> -->
                        <!-- <li> -->
                            <!-- Bring your dream spaces to life, with building information modelling. -->
                        <!-- </li> -->
                        <!-- <li> -->
                            <!-- Scale up your planning efficiency with our Building Information Modelling service. Our highly detailed and functional Building -->
                            <!-- Information Models bring together the data from multiple disciplines to give you a realistic -->
                            <!-- representation of your construction projects. Intelligently designed and integrated with critical -->
                            <!-- MEP, Architectural, Structural, Fire Fighting Camp; HVAC, GIS and Land Survey data that architects, -->
                            <!-- real estate developers, contractors and other professionals need, our 3D models are highly adaptable. -->
                        <!-- </li> -->
                        <!-- <li> -->
                            <!-- We work with additional dimen.sions (4D Camp; 5D) that helps our customers with time and cost benefits immensely. When it -->
                            <!-- comes to BIM, you-. can trust: us as an integral part of your team and experience a wealth of -->
                            <!-- cost and time savings. Here's a brief roundup of the data types our models will incorporate. -->
                        <!-- </li> -->
                    <!-- </ul> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
		
		<div class="container">
            <div class="partner-points">
                 <div class="partnership reasons bim">
                  
                    <ul>
                   
                        <li>
                           Construction is no longer about building vanilla houses and commercial spaces. Building Information Modeling helps you take that plunge from being constructors to a niche combination of creative designers, dependable builders and visionary planners all at one go. Our highly detailed and functional Building Information Models bring together the data from multiple disciplines to give you a realistic representation of your construction projects. 
                        </li>
                        <li>
                            Intelligently designed and integrated with critical MEP, Architectural, Structural, Fire Fighting Camp; HVAC, GIS and Land Survey data that architects, real estate developers, contractors and other professionals need, our 3D models are highly adaptable. We work with additional dimensions (4D Camp, 5D) that help our customers with time and cost benefits immensely. 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
	
        <div class="pdf text-center needs">
            <div class="container">
                <p class="qbolds get-in">
                    <button class=" brand-danger btn-partner btn-ipad-mt" ui-sref="registration">Partner with Us</button>                    to receive a custom quote today.
                </p>
                <p>
                    Or </p>
                <button class="buttons brand-danger block center" ui-sref="enquiry"><span class="img"><img src="img/icons/pdfs.png" class="img-responsive" alt="pdf"></span>Download samples to check out our previous work.</button>
            </div>
            <div class="landing-bottom">
                <img src="img/cad-footer.png" alt="cad" class="full-img">
            </div>
        </div>
    </div>
</div>
</div>
<script>
	$.scrollify.disable();
</script>