<div class="custom_section">
<div class="work about">
    <div class="container">
        <div class="about-title text-center">
            <h4 class=" primary">
                CAD Drafting Services
            </h4>
            <p class="danger">Engineering solutions, meticulously crafted.</p>
        </div>
        <div class="info">
            <p>Precision and accuracy underline our CAD drafting services, ably backed by an expert team that extensively understands
                design, architecture and prototyping. Generate, annotate and plot complex CAD drawings that are intricately
                tailored to your every requirement. </p>
            <p>G-Source is your one-stop-station for all CAD related drafting services under the sun.
            </p>
        </div>
 
    </div>
</div>
</div>
<script>
	$.scrollify.disable();
</script>