<div class="custom_section">
<div class="about">
	<div class="container">          
	  <ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li id="bcrumb-li">CLSA Event</li> 
	  </ol>
	</div>
    <div class="container">
        <div class="text-center">
            <h4 class="primary">
				CLSA Gallery
            </h4>
        </div>
		
		  <div class="row">
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="img/CALS/cals10.jpeg" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="img/CALS/cals6.jpeg" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="img/CALS/cals7.jpeg" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="img/CALS/cals8.jpeg" alt="...">
			</a>
		  </div>
		  </div>
		  <div class="row">
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="img/CALS/cals9.jpeg" alt="...">
			</a>
		  </div>
		  </div>
		  
		
	</div>	
</div>
</div>

<script>
	$.scrollify.disable();
</script>