<div class="custom_section">
<div class="about">
	<div class="container">          
	  <ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li id="bcrumb-li">Events</li> 
	  </ol>
	</div>
    <div class="container">
        <div class="text-center">
            <h1 class="primary uppercase">
               EVENTS
            </h1>
            
		</div>
		<div class="row">
		  <div class="col-sm-6 col-md-6">
			<div class="thumbnail">
			  <img src="img/NJSPLS/njspls7.jpeg" alt="...">
			  <div class="caption">
				<h3 class="danger">SURVCON-2016 NJSPLS EVENT</h3>
				<p class="text-justify">This event was held by New Jersey Society of professional land surveyors, a fruitful event for all the networking personnel who want to increase the revenue of their respective companies. This event boosted G-Source Technologies potentially by opening new horizons of business opportunities.Many long lasting relationships were built by event Survcon2016. NJSPLS has opened new doors to reach out to potential clientele under one roof. We have gained a fruitful experience by attending the same. We are looking forward to future events to be held by NJSPLS.We want to thank NJSPLS for providing such a great platform &amp; opportunity to everyone who attended the event..</p>
				<p class="text-center"><a ui-sref="njspls-event-detail" class="btn btn-primary" role="button">View in detail</a> </p>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-6 col-md-6">
			<div class="thumbnail">
			  <img src="img/CALS/cals5dupli.jpeg"" alt="...">
			  <div class="caption">
				<h3 class="danger">CLSA-2017 52'nd ANNUAL CONFERENCE</h3>
				<p class="text-justify">“It was quite an engaging event especially, if we are to consider the diversity of the exhibitors as well as the profiles of land surveyors &amp; county/ government officials who made it to the event. Overall it was a great learning &amp; networking experience. We are surly are looking forward to being a part of the forthcoming events in the following years..</p></br></br></br></br>
				<p class="text-center"><a ui-sref="cals-event-detail" class="btn btn-primary" role="button">View in detail</a> </p>
			  </div>
			</div>
		  </div>
		</div>
    </div> 
</div>
</div>

<script>
	$.scrollify.disable();
</script>