
<div class="custom_section">
<div class="about">
	<div class="container">          
	  <ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li id="bcrumb-li">GIS</li>        
	  </ol>
	</div>
    <div class="container">
        <div class="text-center">
            <div class="imgages">
                <img src="img/icons/compass.png" class="img-responsive" alt="CAD">
            </div>
            <h1 class="primary">
                GEOGRAPHIC INFORMATION SYSTEM
            </h1>
            <p class="danger uppercase here-m subpage-tagline">WHEN IT COMES TO INNOVATION, DON'T LOSE THE PLOT! </p>
        </div>
		<div class= "row" style="padding-top:20px">
				<div class="container">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<a ui-sref="gismapping"><div class="reason-detail text-center GM">
								<div class="circle"></div>
								<p class="text-center"><strong>GIS MAPPING</strong></p>
							</div></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<a ui-sref="gisappdevelopment"><div class="reason-detail text-center GAD">
								<div class="circle"></div>
								<p class="text-center"><strong>GIS APPLICATION DEVELOPMENT</strong></p>
							</div>
						</div></a>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<a ui-sref="sdca"><div class="reason-detail text-center SDCA">
								<div class="circle"></div>
								<p class="text-center"><strong>SPATIAL DATABASE CREATION & ADMINISTRATION</strong></p>
							</div></a>
						</div>
						
					</div>
				</div>
				
		</div>	
		<div class="needing"></div>
        <div class="info">
            <p>G-Source has it covered, with incredibly comprehensive GIS strategies and execution. Assess, analyze and plot
                your geographical and geospatial data with high levels of accuracy through our integrated GIS services that
                cover both public and private facilities and infrastructure. </p>
            <p>At G-Source, we use the latest in research, technology and innovation to create and deliver highly specialized
                maps and databases. </p>
            <span>Here's what our GIS services cover.  </span>
        </div>
	</div>
	
	<div class="container" style="padding-bottom:20px">
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="text-center">
					<img src="img/icons/gismap2.png">
					<h5 class="sp-title">GIS MAPPING</h5>
				</div>

				<p class="text-justify">Accurate analysis meets attention to detail. G-Source creates highly detailed and intricate cadastral maps from hard copies and raw data, so every inch of your space is accounted for.
				</p>
				<div class="text-center">
					<a ui-sref="gismapping" class="btn btn-primary">Know more...</a>
				</div>
				</br>
			</div>	
			<div class="col-md-4">
				<div class="text-center">
					<img src="img/icons/Vectoricon2.png">
					<h5 class="sp-title">GIS APPLICATION DEVELOPMENT</h5>
				</div>

				<p class="text-justify">Bespoke applications - designed, developed and delivered.Leverage our technological knowhow to create GIS applications across web and mobile platforms.Develop, manage and customize your applications, backed by a highly accomplished team of engineers, developers and specialists. G-Source helps you identify, automate and build intelligent solutions for time consuming and redundant tasks through our versatile technology division.
				</p>
				<div class="text-center">
					<a ui-sref="gisappdevelopment" class="btn btn-primary">Know more...</a>
				</div>
				</br>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<img src="img/icons/administrationicon.png">
					<h5 class="sp-title">SPATIAL DATABASE CREATION & ADMINISTRATION</h5>
				</div>

				<p class="text-justify">Intelligently strategized geodatabases from our internal experts.Structure and manage your geographical and spatial data with intelligently strategized and modeled geodatabases.G-Source lets you capture, store and manage spatial and geographical data effectively by building customizable and well designed geodatabas- es. Our GIS service is tightly integrated, with end-to-end support, bringing together data capturing and management seamlessly for better efficiency.
				</p>
				<div class="text-center">
					<a ui-sref="sdca" class="btn btn-primary">Know more...</a>
				</div>
			</div>	
		</div>
	</div>
	<div class="landing-bottom">
		<img src="img/cad-footer.png" alt="cad" class="full-img">
	</div>
</div>      
</div>
<script>
	$.scrollify.disable();
</script>