<div class="custom_section">
<div class="about">
<div class="container">          
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a ui-sref="gis">GIS</a></li>
	<li id="bcrumb-li">GIS Mapping</li>     
  </ol>
</div>
   
	<div class="crew services">
			<div class="container">
				<div class="text-center"><h1 class="primary uppercase">GIS Mapping </h1></div>
				
				<div class="col-lg-12">
				
					<div class="col-md-12 col-xs-12" >
						
						<div class="text-center danger uppercase" style="font-size:20px;padding-bottom:20px"> HERE'S WHAT OUR GIS MAPPING SERVICE COVERS.</div>
						<div class="row">
						<div class="col-lg-12">
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="reason-detail text-center">
									<div class="circle map1"></div>
									<h6 class="">Satellite Image Processing </h6>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								 <div class="reason-detail text-center">
									<div class="circle map2"></div>
									<h6 class="">Orthophoto <br>Conversion </h6>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="reason-detail text-center">
									<div class="circle map3"></div>
									<h6 class="">LIDAR Point Cloud Mapping </h6>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="reason-detail text-center">
									<div class="circle map4"></div>
									<h6 class="">Digitization & Visualisation </h6>
								</div>
							</div>
						</div>
						</div>
						<div class="row">
						<div class="col-lg-12">
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="reason-detail text-center">
									<div class="circle map5"></div>
									<h6 class="">Photogrammetry-Creating 3D Models
									</h6>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								 <div class="reason-detail text-center">
                                    <div class="circle map6"></div>
                                    <h6 class="">Cartography</br></br></br> </h6>
									
                                </div>
								
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="reason-detail text-center">
                                    <div class="circle map7"></div>
                                    <h6 class="">Mapping for Utilities, Land Parcels & Urban Infrastructure </h6>
                                </div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<div class="reason-detail text-center">
                                    <div class="circle map8"></div>
                                    <h6 class="">Orthomosaicing and Image Processing </h6>
                                </div>
							</div>
						</div>
						</div>
					</div>
				
				</div>
				
				
            </div>
				
				 <div class="container">
					<div class="needing"></div>
					<div class="partner-points">
						<div class="reasons partnership">
							<div class="images  gismap2 inline-block"></div>
							<h5 class="inline-block primary uppercase block">GIS Mapping </h5>
							<ul>
								<li>
									G-Source creates highly detailed and intricate GIS maps from hard copies and raw data, so every inch of your space is accounted for.
								</li>
							</ul>
				
							<ul>
								<li>
									Cutting edge GIS mapping technology in the form of LIDAR point cloud mapping, cadastral, utility, land cover and parcel mapping helps in streamlining and organizing land related data for analysis and decision making. 
								</li>
								<li>
									Capture, create and manage detailed GIS maps in line with international standards for use across a variety of verticals, including telecommunication, power management, water management, town planning, urban development, natural resource management and transportation networks.
								</li>
								<!-- <li>
									G-Source also handles the conversion of orthophotos and differential rectification, for you to effectively source and organize
									data from high quality orthophotos and drone images.
								</li> -->
							</ul>
						</div>
					</div>
				</div>
				
				<div class="container">
				<div class="partner-points">
					<div class="reasons partnership">
						<div class="images  vectormain inline-block"></div>
						<h5 class="inline-block primary uppercase ">GEO DATA CONVERSION </h5>
						<ul>
							<li>
								G-Source converts critical data from any format to GIS friendly formats through our extensive data capturing and conversion service. From large paper maps to image files and ortho-photos, you can now capture key data and create geodatabases for greater utility. 
							</li>
							<li>
								We also offer data conversion between different vector formats, data capture from both textural and vector resources and accurate geocoding.
							</li>
							<li>
								We also handle the conversion of ortho-photos and differential rectification, for you to effectively source and organize data from high quality ortho-photos and drone images.
							</li>
						</ul>
					</div>
				</div>
				</div>
				<div class="container">
				<div class="partner-points">
				<h5 class="uppercase text-center f22 danger">IN A NUTSHELL, HERE'S WHAT OUR END-TO-END<br> GIS MAPPING SERVICE COVERS.</h5></br>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="reason-detail text-center DWG">
                            <div class="circle vector1"></div>
                            <h6 class="land-icon"> Point Cloud Geometry </h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="reason-detail text-center CSV">
                            <div class="circle vector2"></div>
                            <h6 class="land-icon">Data Capture <br>Conversion </h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="reason-detail text-center sketch">
                            <div class="circle vector3"></div>
                            <h6 class="land-icon"> Land Cover Classifocation</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                       <div class="reason-detail text-center photos">
                            <div class="circle vector4"></div>
                            <h6 class="land-icon"> orthophoto Conversion</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="reason-detail text-center inverts">
                            <div class="circle vector5"></div>
                            <h6 class="land-icon">Cadastral Mapping </h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="reason-detail text-center codes">
                            <div class="circle vector6"></div>
                            <h6 class="land-icon"> Contouring & Typography</h6>
                        </div>
                    </div>
                </div>
				<div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="reason-detail text-center work">
                            <div class="circle vector7"></div>
                            <h6 class="land-icon"> Parcel Mapping
                            </h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="reason-detail text-center">
                            <div class="circle vector11"></div>
                            <h6 class="land-icon"> Cartography </br></br></h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                         <div class="reason-detail text-center CSV">
                            <div class="circle vector12"></div>
                            <h6 class="land-icon"> utilities </br></br></h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="reason-detail text-center sketch">
                            <div class="circle vector13"></div>
                            <h6 class="land-icon">Tele-communication </h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="reason-detail text-center photos">
                            <div class="circle vector14"></div>
                            <h6 class="land-icon"> Forestry and Environmental Projects </h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                        <div class="reason-detail text-center inverts">
                            <div class="circle vector15"></div>
                            <h6 class="land-icon">Roads, Bridges, Civic & Water Bodies</h6>
                        </div>
                    </div>
                </div>
				<div class="needing"></div>
				</div>
				</div>
				<div class="crew">
                <div class="pdf text-center needs">
                    <div class="container">
                        <h5 class="primary get-in">Create beautifully structured and detailed maps <br>with minimal hassle.</h5>
                        <p class="qbolds">
                            we'll create a custom proposal that's just about right for <br>your requirements! </p>
                        <p>
                            <button class="buttons brand-danger block center" ui-sref="enquiry"><span class="img"><img src="img/icons/pdfs.png" class="img-responsive" alt="pdf"></span>Download samples to check out our mapping service</button></p>
                    </div>
                   
                </div>
            </div>
				<div class="landing-bottom">
					<img src="img/cad-footer.png" alt="cad" class="full-img">
				</div>
		</div>
	</div>
</div>
<script>
	$.scrollify.disable();
</script>