	
	<section class="panel">
		<div class="container">
			<div class="wrapper text-center">
				<img src="img/home/landing_logo.png" alt="" class="doneLoading">
				<p><h3 class="text-center" id="home-tagline-one">G-Source connects the dots between</h3></p>
				 <h2 class="text-center" id="home-tagline-two"><a ui-sref="service">CAD</a>,
				 <a ui-sref="gis">GIS</a> & <a ui-sref="technology">TECHNOLOGY</a></h2>
			</div>
			<div class="wrapper text-center hidden-xs" id="sc_btnn">
				<a href="javascript:void(0)" id="ggg"><span></span></a>
			</div>
		</div>
	</section>
	<section class="panel">
		<div class="container">
			<div class="text-center ">
				<h4 class="title-universal uppercase"> 
				<span class="danger">our</span><span class="color-white"> services</span></h4>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="text-center" >
						<img src="img/gsourceicons/CAD-drafting.png" class="custom_cus1 doneLoding">
						<h3 class="danger uppercase"><span>cad drafting</span></h3>
						<p class="text-justify color-white home-services-para">With CAD, you can say goodbye to the tedious task of manual drafting, designs and design documentation. A digital draftsman with pin point accuracy, CAD is the answer to all your designing and visualisation needs. Be it stadiums, hospitals, pumping stations, oil refineries, manufacturing facilities, water purification plants, and railway tracks/stations, the use of CAD helps to visualise concepts through photorealistic renderings and simulate how a design will perform in the real world.</p>
						<div class="hidden-xs">
							</br>
						</div>
						<a ui-sref="service" class="color-white pull-right morelink">READ MORE<span class="fa fa-arrow-circle-right"></span></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="text-center">
						<img src="img/gsourceicons/Gis-mapping.png" class="custom_cus1 doneLoading">
						<h3 class="uppercase danger">gis mapping</h3>
						<p class="text-justify color-white home-services-para">Geographic Information System (GIS) is the most sophisticated system to capture, store, manipulate, analyse, manage, and present spatial or geographic data. Right from plotting geospatial data like water and gas utilities to analysing flood and storm patterns to developing complex location based applications like cadastral mapping based taxation, 911 response services and maintaining water networks in cities to name a few, GIS is the way ahead to build technically superior decision making tools.</p>
						<div class="hidden-xs">
							</br>
						</div>
						<a ui-sref="gis" class="color-white pull-right morelink">READ MORE<span class="fa fa-arrow-circle-right"></span></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="text-center">
						<img src="img/gsourceicons/technology.png" class="custom_cus1 doneLoading">
						<h3 class="uppercase danger">technology</h3>
						<p class="text-justify color-white home-services-para">G-Source provides end-to-end integration with technology services starting from application development to database consulting and remote DBA support. Be it developing custom applications for drone data management, managing and updating complexes databases (spatial and otherwise) to designing services to automate existing processes, we take pride in being a one stop solution to scale up your automation levels.</p>
						<div class="hidden-xs">
						</br></br></br>
						
						</div>
						<a ui-sref="technology" class="color-white pull-right morelink">READ MORE <span class="fa fa-arrow-circle-right"></span></a>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<section class="panel">
		<div class="container">
			<div class="text-center">
				<h4 class="title-universal uppercase"><span class="danger">why</span><span class="color-white"> g-source</span></h4>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="text-center">
						<img src="img/gsourceicons/pinpoint.png" class="custom_cus doneLoading">
						<h3 class="color-white uppercase">Pinpoint accuracy</h3>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="text-center">
						<img src="img/gsourceicons/effeciency-over-everything.png" class="custom_cus doneLoading">
						<h3 class="color-white uppercase">Efficiency over</br> Everything</h3>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="text-center">
						<img src="img/gsourceicons/lightning-fast-turn-around-times.png"   class="custom_cus doneLoading">
						<h3 class="color-white uppercase" id="hh">Lightning Fast</br> Turnaround Times</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="text-center" >
						<img src="img/gsourceicons/customised-teams-customised-solutions.png" class="custom_cus doneLoading">
						<h3 class="color-white uppercase">Customized teams</br>customized solutions</h3>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="text-center" >
						<img src="img/gsourceicons/bottomline.png"   class="custom_cus doneLoading">
						<h3 class="color-white uppercase">Lean bottom lines </br>and cranked up </br>profits</h3>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="container text-center subject photography">
					<a ui-sref="work"><button class="btn btn-primary">Know more</button></a>
				</div>
			</div>
		</div>
	</section>
	<section class="panel">
		<div class="container" >
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h4 class="title-universal uppercase">
					<span class="danger">about</span>
					<span class="color-white"> g-source</span></h4>
					<p class="text-justify color-white home-about-para">Started in 2014, G-Source offers a unique combination of end-to end customized engineering, design, GIS and technology solutions.  In a short span, we have created a niche for ourselves becoming agents of change in the drafting, designing and engineering segments by adopting relevant and cutting edge technologies like GIS and Business Intelligence. Not only are we capable of converting raw data into industry standard designs and maps, we are also well equipped to consult our clients on developing full fledged applications on top of these processed data.</p>
					<p class="text-justify color-white home-about-para">Based out of Florida, we have a reputation of delivering drafting, plotting , engineering design as well as mapping projects with much aplomb in several parts of the United States. We understand the surveyor's mindset as well as the industry expectations when it comes to accuracy of processed CAD data. This has helped us maintain extremely high standards of accuracy and our highly renewable client relationships stand testament to that.</p> 
					<a ui-sref="abouts"><button class="btn btn-primary">Know more</button></a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<a class="various fancybox.iframe" href="https://www.youtube.com/embed/BFCtOhpR-vU" fancybox>
					<img src="img/home/youtube_video.png" class="img-responsive doneLoading">
					<a class="play-circle-outline various fancybox.iframe" href="https://www.youtube.com/embed/BFCtOhpR-vU" fancybox></br></br></br></br></br></br></br> </a></a>
				</div>
			</div>
		</div>
	</section>
	<section class="panel">
		<div class="container" id="industries">
			<h4 class="title-universal uppercase text-center">
			<span class="primary">industries</span><span class="color-white"> we serve</span></h4>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
					<a ui-sref="landsurvey"><img src="img/gsourceicons/land-survey.png" class="w3-hover-sepia doneLoading">
					<h3 class="color-white-cus uppercase">land-survey</h3></a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
					<a ui-sref="landdevelopment"><img src="img/gsourceicons/land-development.png" class="w3-hover-sepia doneLoading">
					<h3 class="color-white-cus uppercase">land development</h3></a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
					<a ui-sref="architectcad"><img src="img/gsourceicons/agriculture-drafting.png" class="w3-hover-sepia doneLoading">
					<h3 class="color-white-cus uppercase">architectural drafting</h3></a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
					<a ui-sref="bim"><img src="img/gsourceicons/BIM.png"  class="w3-hover-sepia doneLoading">
					<h3 class="color-white-cus uppercase">building information modeling</h3></a>
				</div>
			</div>
			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
					<a ui-sref="gismapping"><img src="img/gsourceicons/Gis-mapping.png" class="w3-hover-sepia doneLoading">
					<h3 class="color-white-cus uppercase">gis-mapping</h3></a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
					<a ui-sref="utility-mapping"><img src="img/gsourceicons/UTILITY-MAPPING.png" class="w3-hover-sepia doneLoading">
					<h3 class="color-white-cus uppercase">UTILITY-MAPPING</h3></a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
					<a ui-sref="cadconversion"><img src="img/gsourceicons/CAD-conversation.png" class="w3-hover-sepia doneLoading">
					<h3 class="color-white-cus uppercase">CAD conversions</h3></a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
					<a ui-sref="lidar"><img src="img/gsourceicons/lidar-data-processing.png"  class="w3-hover-sepia doneLoading">
					<h3 class="color-white-cus uppercase">lidar data processing</h3></a>
				</div>
			</div>
			<div class="row text-center ">
				<a ui-sref="service"><button class="btn btn-primary">Know more</button></a>
			</div>
		</div>
	</section>
	<section class="panel">
		<div class="container">
			<h4 class="title-universal uppercase text-center">
			<span class="color-white"> testimonials</span></h4>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="text-center">
						<img src="img/home/circle.png" id="custom_id_tm" class="doneLoading">

						<h3 class="testimonial-heading">President</h3>
						<h5 class="testimonial-company">TFW Surveying & Mapping</h5>
						
					</div>
					<p class="home-testimonial-para"><strong><i><q>Gsource has a bunch of very professional and knowledgeable guys in their team.Would highly recommend them to all, who are looking for quality service providers. Best of Luck!! </q></strong></i></p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="text-center" >
						<img src="img/home/circle.png" id="custom_id_tm" class="doneLoading">
						
						<h3 class="testimonial-heading">Owner</h3>
						<h5 class="testimonial-company">Sun Land Surveying Inc.</h5>
					</div>
					<p class="home-testimonial-para"><strong><i><q>Gsource has been a great find for us. The team is an industrious bunch, who are always open to suggestions and learning. We have been with them for the past year and half and are looking forword to a continued relationship...</q></strong></i></p>
				</div>
			</div>
		</div>
	</section>
	<div class="row">
	<section class="panel" >
		<div class="container" >
			<h4 class="title-universal uppercase text-center">
			<span class="danger">contact</span>
			<span class="primary">  us </span></h4>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<a href="https://www.google.co.in/maps/place/GSOURCE+TECHNOLOGIES+%7C+CAD+Drafting+Services+%7C+USA/@25.9851074,-80.321013,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9a5cd0158c6e1:0x1a2a0bd603e785eb!8m2!3d25.9851074!4d-80.3188243" target="_blank">
						<img src="img/home/gmap.png" class="img-responsive" class="doneLoading"></a>
						
						</br>
					</div>
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="conpad">
						<form class="enquir" ng-submit="submitForm(formdata)" name="formName">
							<div class="row">
							  <div class="col-md-6 col-sm-6">
								<div class="form-group" ng-class="{'form-invalid': formName.name.$invalid && formName.name.$touched}">
								  <input type="text" class="form-control" id="name" name="name" ng-model="formdata.name" placeholder="NAME" required>
								  <span ng-show="formName.name.$touched && formName.name.$invalid">Please enter name.</span>
								</div>
								<div class="form-group" ng-class="{'form-invalid': formName.mobile.$invalid && formName.mobile.$touched}">
								  <input type="text" name="mobile" class="form-control input-phone" phone-input id="phone" ng-model="formdata.mobile" placeholder="CELL PHONE"
									required>
								  <span ng-show="formName.mobile.$touched && formName.mobile.$invalid && formName.mobile.$invalid">Please enter vaild Phone number.</span>
								</div>
							  </div>
							  <div class="col-md-6 col-sm-6">
								<div class="form-group" ng-class="{'form-invalid': formName.email.$invalid && formName.email.$touched}">
								  <input type="email" name="email" class="form-control" id="email" ng-model="formdata.email" placeholder="EMAIL ADDRESS" required>
								  <span ng-show="formName.email.$touched && formName.email.$invalid">Please enter vaild email.</span>
								</div>
								<div class="form-group" ng-class="{'form-invalid': formName.officeno.$invalid && formName.officeno.$touched}">
								  <input type="text" class="form-control" id="officeno" name="officeno" placeholder="COMPANY" ng-model="formdata.company" required>
								  <span ng-show="formName.officeno.$touched && formName.officeno.$invalid">Please enter Company name.</span>
								</div>
							  </div>
							</div>

							<div class="enquir-content">
							  <div class="row">
								<div class="col-md-12">
								  <div class="btn-group display" ng-init="enquirydrop= false">
									<button type="button" class="btn btn-bussiness btn-main  dropdown-toggle" ng-click="enquirydrop=!enquirydrop" data-toggle="dropdown">
									  SERVICES REQUIRED  
									  <i class="fa  fa-reg" aria-hidden="true"></i><REQUIRED></REQUIRED></button>
									

									<div class="dropdown-menu dropshow" ng-show="enquirydrop">
									  <div class="click-out" ng-click="enquirydrop=!enquirydrop"></div>
									  <span class="options">
										  <input type="checkbox" ng-model="formdata.myDropDwn.drafting" ng-change="addMe('Land Survey Drafting','drafting')" id="drafting"/>
										  <label for="drafting">Land Survey Drafting</label>
									  </span>
									  <span class="options">
										  <input type="checkbox" ng-model="formdata.myDropDwn.development"   ng-change="addMe('land development','development')" id="development" />
										  <label for="development">land development</label>
									  </span>
									  <span class="options">
										  <input type="checkbox"  ng-model="formdata.myDropDwn.cad"  ng-change="addMe('cad conversion','cad')" id="cad" />
										  <label for="cad">cad conversion</label>
									  </span>
									  <span class="options">
										  <input type="checkbox"  ng-model="formdata.myDropDwn.architectural"  ng-change="addMe('architectural drafting','architectural')" id="architectural" />
										  <label for="architectural">architectural drafting</label>
									  </span>
									  <span class="options">
										  <input type="checkbox"  ng-model="formdata.myDropDwn.gis" ng-change="addMe('GIS','gis')" id="gis" />
										  <label for="gis">GIS</label>
									  </span>
									  <span class="options">
										  <input type="checkbox" ng-model="formdata.myDropDwn.technology" ng-change="addMe('Technology','technology')" id="technology" />
										  <label for="technology">Technology</label>
									  </span>

									</div>
								  </div>
								  <div class="enquiry-cad cad-padding">
									<div ng-repeat="srvc in serviceList" class="form-group cad-list">
									  <div>
										<img class="cross-img doneLoading" src="img/cancel-button.png" ng-click="removeMe(srvc.id,$index)" aria-hidden="true">
									  </div>
									  <div>{{srvc.val}}</div>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<div class="enquiry-textarea">
							  <div class="row">
								<div class="col-md-12">
								  <div class="form-group" ng-class="{'form-invalid': formName.query.$invalid && formName.query.$touched}">
									<textarea class="form-control" id="comment" name="query" rows="5" placeholder="QUERY" ng-model="formdata.query" required></textarea>
									<span ng-show="formName.query.$touched && formName.query.$invalid">Please enter query.</span>
								  </div>
								</div>
							  </div>
							</div>
							<div class="query-submit text-center">
							  <button class="btn brand-danger ">SUBMIT</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
		</div>
		<div class="hidden-md hidden-lg" ></br></br></div>
	
	<div class="row hidden-xs" style="padding-top:500px"></div>
	<footer>
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-3">
				<h6><span class="foot-span">SERVICES</span></h6>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="service">CAD</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="gis">GIS</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="technology">TECHNOLOGY</a></li>
			</div>
			<div class="col-md-3">
				<h6><span class="foot-span">COMPANY</span></h6>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="abouts">About</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="contact">Contact</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="terms">Terms and Conditions</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="privacy">Privacy Policies</a></li>
				
			</div>
			<div class="col-md-3">
				<h6><span class="foot-span">LINKS</span></h6>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="partner">Partner with us</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="we-are-hiring">Career</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="work">Why us?</a></li>
				<li><span class="fa fa-caret-right"></span> <a ui-sref="enquiry">Enquiry</a></li>
			</div>
			<div class="col-md-3">
				<h6><span class="foot-span">FOLLOW US ON</span></h6>
				<ul class="social list-inline margin0">
				<li id="fs"><a href="https://www.linkedin.com/company/gsource" title="linkedin" target="_blank"><span class="fa fa-linkedin"></a>
				<a href="https://www.facebook.com/gsourcedata/" title="Facebook" target="_blank"><span class="fa fa-facebook"></a>
				<a href="https://twitter.com/Gsourcedata" title="Twitter" target="_blank"><span class="fa fa-twitter"></a>
				<a href="https://plus.google.com/u/0/101255953418236897585" title="Twitter" target="_blank"><span class="fa fa-google-plus"></a></li>
				</ul>
			</div>

		</div>
		
	</div>
	</br>
	<hr>
		<div class="text-center">G-Source Technologies (2014-2017)</div>
	</footer>

    </section>
	
<script>

$.scrollify.enable();
$(document).ready(function () {
    var width = $(window).width();
    var height = $(window).height();

    if (width > 980 && height > 500) {
        $(function () {
            $(".panel").css({
                "height": $(window).height()
            });
            $.scrollify({
                section: ".panel",
				updateHash:false
            });


            $(".scroll").click(function (e) {
                e.preventDefault();
                $.scrollify("move", $(this).attr("href"));
            });
        });

    } else {
        $(".scroll").click(function (e) {
            e.preventDefault();
        });
        $.scrollify.destroy();
    }
    $(window).resize(function () {
        width = $(window).width();
        height = $(window).height();
        $(function () {
            if (width > 980 && height > 500) {
                $(".panel").css({
                    "height": $(window).height()
                });
                $.scrollify({
                    section: ".panel",
					updateHash:false
                });


                $(".scroll").click(function (e) {
                    e.preventDefault();
                    $.scrollify("move", $(this).attr("href"));
                });
            } else {
                $.scrollify.destroy();
                $(".scroll").click(function (e) {
                    e.preventDefault();
                });

            }
        });
    });
});





var $animation_elements = $('.animation-element');
var $window = $(window);

function check_if_in_view() {
	var window_height = $window.height();
	var window_top_position = $window.scrollTop();
	var window_bottom_position = (window_top_position + window_height);

	$.each($animation_elements, function() {
		var $element = $(this);
		var element_height = $element.outerHeight();
		var element_top_position = $element.offset().top;
		var element_bottom_position = (element_top_position + element_height);

		if ((element_bottom_position >= window_top_position) &&
		  (element_top_position <= window_bottom_position)) {
		  $element.addClass('in-view');
		} else {
		  $element.removeClass('in-view');
		}
	});
}

$window.on('scroll resize', check_if_in_view);
$window.trigger('scroll');

$(function() {
	$('#ggg').on('click', function() { 
		window.scrollBy(0, 900); 
	});
});


</script>