<div class="custom_section">
<div class="about">
<div class="container">          
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a ui-sref="service">CAD Drafting Services</a></li>
	<li id="bcrumb-li">Land Survey</li>     
  </ol>
</div>
   
	<div class="crew services">
			<div class="container">
				<div class="text-center"><h1 class="primary uppercase">Land Survey Drafting Services</h1></div>
				
				<div class="col-lg-12">
				
					<div class="col-md-12 col-xs-12" >
						
						<div class="text-center danger uppercase" style="font-size:20px;padding-bottom:20px"> Types of Survey Covered</div>
						<div class="row">
						<div class="col-lg-12">
							<div class="col-md-4 col-sm-2 col-xs-4">
								<div class="reason-detail text-center ALTA">
									<div class="circle"></div>
									<h6 class="">ALTA Surveys </h6>
								</div>
							</div>
							<div class="col-md-4 col-sm-2 col-xs-4">
								<div class="reason-detail text-center Boundary">
									<div class="circle"></div>
									<h6 class="">Boundary & Location</h6>
								</div>
							</div>
							<div class="col-md-4 col-sm-2 col-xs-4">
								<div class="reason-detail text-center Topographic">
									<div class="circle"></div>
									<h6 class="">Topographic & As Builts</h6>
								</div>
							</div>
						</div>
						</div>
						<div class="row">
						<div class="col-lg-12">
							<div class="col-md-4 col-sm-2 col-xs-4">
								<div class="reason-detail text-center Gas">
									<div class="circle"></div>
									<h6 class=" ">Utilities (Gas, Water, Sewer)</h6>
								</div>
							</div>
							<div class="col-md-4 col-sm-2 col-xs-4">
								<div class="reason-detail text-center Mortgage">
									<div class="circle"></div>
									<h6 class=" ">Residential Mortgage Surveys</h6>
								</div>
							</div>
							<div class="col-md-4 col-sm-2 col-xs-4">
								<div class="reason-detail text-center Oil">
									<div class="circle"></div>
									<h6 class="">Telecommunication Oil & Gas Well Plats</h6>
								</div>
							</div>
						</div>
						</div>
					</div>
				
				
					<div class="row">
					<div class="col-md-12 col-xs-12">
						<div class="text-center danger needing" style="font-size:20px;
						padding-bottom:20px">Things We Need To Get Started!</div>
						
						<div class="col-lg-12">
							<div class="col-md-2 col-sm-2 col-xs-4">
								<div class="reason-detail text-center DWG"> 
									<div class="circles"></div> 
									<h6 class="land-icon">Base File</h6> 
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-4">
								<div class="reason-detail text-center CSV">
									<div class="circles"></div> 
									<h6 class="land-icon">Points File </h6> 
								</div>
							</div>
							
							<div class="col-md-2 col-sm-2 col-xs-4">
								<div class="reason-detail text-center photos"> 
									<div class="circles"></div> 
									<h6 class="land-icon">Aerial Photos</h6> 
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-4">
								<div class="reason-detail text-center sketch"> 
									<div class="circles"></div> 
									<h6 class="land-icon">Field Sketch & Notes with point codes</h6> 
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-4">
								<div class="reason-detail text-center inverts">
									<div class="circles"></div>
									<h6 class="land-icon">Inverts</h6>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3">
								<div class="reason-detail text-center work">
									<div class="circles"></div>
									<h6 class="land-icon">Example work files (PDF or DWG)</h6>
								</div>
							</div>
						</div>
						</div>
					</div>
					
				
				</div>
				
				
				<div class="ways-info">
					<p>
						G-Source specializes in drafting civil CAD land surveying, involving construction and infrastructure for an array of civil engineering projects. State of the art technologies and equipment help us produce detailed and high quality outputs that deliver survey drafting services second to none. Our team of professional drafters deliver detailed construction drawings, topographical profiles, and any other specifications required to complete the planning of your next civil project.
					</p>
					<p>
						We pay extra attention to ensure your business will reduce costs in a variety of areas. It is our priority to finish each project on time and within budget. By saving in these areas, you increase productivity and revenue within your business.
					</p>
					<p>
						Utility tracing and tracking is crucial for effective site planning, particularly when invasive works, such as construction projects are planned. Historic paper maps and plans, usually done manually, lack the details or the accuracy needed to execute these projects. Utility tracking provides accurate and detailed information about the quantity and location of sub-surface hazards that may hamper a construction in the long run. We provide a range of high quality utility tracking and surveying services to both the public and private sectors. We make use of a combination of the most innovative and state of the art technologies coupled with years of subject matter expertise to offer our clients the very best in terms of quality, value and usability. Our technologically superior specialist surveyors are fully trained and experienced to undertake accurate and detailed utility tracings of any estate.
					</p>
					<p>
						We believe and understand that every client is unique and it is our endeavour to understand your specific requirements. This approach enables us to tailor our service and products accordingly to provide you with solutions ideally suited to your needs. In our brief yet highly successful history of providing survey solutions, our surveyors have experience of working in every conceivable type of building and environment, including schools, offices, hospitals, universities, shops, etc. As a result, our surveyors are well trained and capable to always cater to your needs and the needs of property users.
					</p>
					<p>
						G-Source provides the following key differentiators with our land survey services
					</p>
					<p>
					<ul style="margin-left:30px">
					<li style="list-style-type:disc">Reliable, accurate and scaled representations of your land parcels and assets
					</li>
					<li style="list-style-type:disc">
						High level of detailing of all utilities of the area being surveyed
					</li>
					<li style="list-style-type:disc">
						Aid in the resolution of land disputes with precise demarcations representative of real world scenarios
					</li>
					<li style="list-style-type:disc">
						Support and consultation in site planning, grounds maintenance, flood risk analysis and other disaster management related planning 	activities
					</li>
					<li style="list-style-type:disc">
						Reduction in project durations and costs
					</li>
					<li style="list-style-type:disc">
						Assistance  for future organisational challenges facing your property portfolio
					</li>
					</ul>
					</p>
					</br>
				
		</div>		
				
				
				<div class="ways-info">
						<p>
							From drawing the boundary, labeling, and linework to contouring, our scope of work covers the more intricate details to help
							you find what you’re looking for.
						</p>
						<p>
							Get the finished file uploaded in any given format to the platform of your choice, from Dropbox to Drive.
						</p>
					</div>
            </div>
        
        <div class="container">
            <div class="pdf text-center spacing-land">
                <h5 class="primary">Getting started is easy</h5>
                <button class="buttons brand-danger" ui-sref="enquiry"><span class="img"><img src="img/icons/pdfs.png" class="img-responsive" alt="pdf"></span>Download our premium drafting samples</button>
                <button class="buttons brand-danger" ui-sref="registration">Contact us to start the free trial.</button>
            </div>
            
        </div>
        <div class="landing-bottom">
            <img src="img/cad-footer.png" alt="cad" class="full-img">
        </div>
    </div>
	</div>
</div>
<script>
	$.scrollify.disable();
</script>