<div class="custom_section">
<div class="about">
	<div class="container">          
	  <ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li id="bcrumb-li">NSLPLS Event</li> 
	  </ol>
	</div>
    <div class="container">
        <div class="text-center">
            <h1 class="primary uppercase">
				NSLPLS Gallery
            </h1>
            
			
			
        </div>
		<div class="row">
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="img/NJSPLS/njspls1.jpeg" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="img/NJSPLS/njspls2.jpeg" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="img/NJSPLS/njspls3.jpeg" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="img/NJSPLS/njspls4.jpeg" alt="...">
			</a>
		  </div>
		  </div>
		  <div class="row">
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="img/NJSPLS/njspls5.jpeg" alt="...">
			</a>
		  </div>
		  
		 
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="img/NJSPLS/njspls7.jpeg" alt="...">
			</a>
		  </div>
		  
		  
		</div>
	</div>	
</div>
</div>


<script>
	$.scrollify.disable();
</script>