<div class="custom_section">
<div class="about">
	<div class="container">          
	  <ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li id="bcrumb-li">Privacy Policy</li> 
	  </ol>
	</div>
    <div class="container">
        <div class="text-center privacy-heading">
            <h1 class="primary uppercase">
                PRIVACY POLICY
            </h1>
        </div>

        <div class="privacy-content text-justify">
            <p>Information Collection, Use, and Sharing </p>
            <p>We are the sole owners of the information collected on this site. We only have access to/collect information
                that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information
                to anyone. </p>
            <p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your
                information with any third party outside of our organization, other than as necessary to fulfil your request,
                e.g. to ship an order. </p>
            <p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products
                or services, or changes to this priva-cy policy. Your Access to and Control Over Information </p>
            <p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting
                us via the email address or phone number given on <a href="www.gsourcedata.com"> www.gsourcedata.com: </a></p>

            <ul class="privacy-list">
                <li>See what data we have about you, if any. </li>
                <li> Change/correct any data we have about you.</li>
                <li> Have us delete any data we have about you.</li>
                <li> Express any concern you have about our use of your data. </li>
            </ul>
            <p>We take precautions to protect your information. When you submit sensitive information via <a href="www.gsourcedata.com"> www.gsourcedata.com</a>,
                your information is protected both online and offline.</p>
            <p class="pp-subtitle">Security </p>
            <p> Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted
                to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser,
                or looking for Squot;https&quot; at the beginning of the address of the web page. While we use encryption
                to protect sensitive information transmitted online, we also protect your information offline. Only employees
                who need the information to perform a specific job (for example, billing or customer service) are granted
                access to personally identifiable information. The computers/servers in which we store personally identifiable
                information are kept in a secure environment. Registration In order to use <a href="www.gsourcedata.com"> www.gsourcedata.com</a>,a
                user must first complete the registration form. During registration a user is required to give certain information
                (such as name and email address). This information is used to contact you about the services on our site
                in which you have expressed interest. At your option, you may also provide demographic information (such
                as gender or age) about yourself, but it is not required. </p>
            <p class="pp-subtitle">Orders</p>
            <p>We request information from you on our order form. To process files, you must provide contact information (like
                name and Order Address, estimated time &amp; Order Documents) and financial information (like credit card
                number, expiration date). For now we have an Online Payment Gateway hence do not need your Card information
                on
                <a href="www.gsourcedata.com"> www.gsourcedata.com</a>. This information is used for billing purposes and
                to fill your orders. If we have trouble processing an order, we&#39;11 use </p>
            <p class="pp-subtitle">Cookies</p>
            <p> We do not use Squot;cookies&quot; on <a href="www.gsourcedata.com"> www.gsourcedata.com</a></p>
            <p class="pp-subtitle">Sharing </p>
            <p>We DO NOT share aggregated demographic information with anyone. We use CHASE banks payment gateway to bill you
                for the services. CHASE does not retain, share, store or use personally identifiable information for any
                secondary purposes beyond filling your order, unless you are registered with them.</p>
            <p class="pp-subtitle">Surveys &amp; Contests </p>
            <p>From time-to- time our site requests information via surveys or contests. Participation in these surveys or contests
                is completely voluntary and you may choose whether or not to participate and therefore disclose this information.
                Information requested may include contact information (such as name and shipping address), and demographic
                information (such as zip code, age level). Contact information will be used to notify the winners and award
                prizes. Survey information will be used for purposes of monitoring or improving the use and satisfaction
                of our services.</p>
        </div>
        
    </div>
</div>
</div>
<script>
	$.scrollify.disable();
</script>