<div class="custom_section">
<div class="about">

<div class="container">          
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li id="bcrumb-li">CAD Drafting Services </li>        
  </ol>
</div>
    <div class="container">
	
        <div class="text-center">
            <div class="imgages">
                <img src="img/icons/compass.png" class="img-responsive" alt="CAD">
            </div>
            <h1 class="primary uppercase">
                CAD Drafting Services
            </h1>
            <p class="danger uppercase danger-mob subpage-tagline">Engineering solutions, meticulously crafted.</p>
        </div>
		
		<div class= "row" style="padding-top:20px">
				<div class="container">
					<div class="col-lg-12 col-md-12 col-md-offset-1">
						<div class="col-md-2 col-sm-4 col-xs-6">
							<a ui-sref="landsurvey"><div class="reason-detail text-center LS">
								<div class="circle"></div>
								<p class="text-center"><strong>LAND SURVEY</strong></p>
							</div></a>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<a ui-sref="landdevelopment"><div class="reason-detail text-center LDS">
								<div class="circle"></div>
								<p class="text-center"><strong>LAND DEVELOPMENT SERVICES</strong></p>
							</div></a>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<a ui-sref="architectcad"><div class="reason-detail text-center ACD">
								<div class="circle"></div>
								<p class="text-center"><strong>ARCHITECTURAL CAD DRAFTING</strong></p>
							</div></a>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<a ui-sref="bim"><div class="reason-detail text-center BIM">
								<div class="circle"></div>
								<p class="text-center"><strong>BUILDING INFORMATION MODELLING (BIM)</strong>  </p>
							</div></a>
						</div>
						<div class="col-md-2 col-md-offset-0 col-sm-4 col-xs-6 col-xs-offset-3">
							<a ui-sref="cadconversion"><div class="reason-detail text-center CC">
								<div class="circle"></div>
								<p class="text-center"><strong>CAD CONVERSION</strong>  </p>
							</div></a>
						</div>
						<div class="col-md-1-offset col-sm-1-offset col-xs-1-offset">
						</div>
					</div>
				</div>
				
		</div>	
		<div class="needing"></div>
        <div class="info">
            <p> Precision and accuracy underline our CAD drafting services, ably backed by an expert team that extensively understands
                design, architecture and prototyping. Generate, annotate and plot complex CAD drawings that are intricately
                tailored to your every requirement.</p>
            <span>G-Source is your one-stop-station for all CAD related drafting services under the sun. </span>
        </div>
    
        <div class="more-cad text-center">
            <p>
                <button class="buttons brand-danger btn-partner" ui-sref="registration">Partner with Us</button> with the
                details of your requirement.
            </p>
         
        </div>
		
			<div class= "row" style="padding-top:20px">
				<div class="container" >
				<div class="col-md-12">
				<div class = "col-sm-6 col-md-6">
					<div class="text-center">
						<img src="img/icons/land-servey.png">
						<h5 class="sp-title">LAND SURVEY</h5>
					</div>

					<p class="text-justify">We’ll create your digital masterpiece!And that’s why we consult and employ the best in the business.Leverage our access to unparalleled talent and cutting-edge technology to fuel your growth, getting industry quality survey drafting services done at incredible turnaround times.When we say lightning-fast, we mean it. Experience 24-hour turnaround times on lighter workloads, minus the compromises.At G-Source, we partner with leading land surveyors in North America and Europe to provide end-to-end services across verticals like pipeline, oil and gas, environmental science, and construction and real estate.
					</p>
					<div class="text-center">
						<a ui-sref="landsurvey" class="btn btn-primary">Know more...</a>
					</div>
					</br>
				</div>
		   
				<div class = "col-sm-6 col-md-6">
					<div class="text-center">
						<img src="img/icons/blueprint.png">
						<h5 class="sp-title">LAND DEVELOPMENT SERVICES</h5>
					</div>
						<p class="text-justify">If construction is an artform, we’re quite the craftsmen!At G-Source, we understand that land development is the pivotal backbone that supports civil planning and construction. With a highly specialized team of proficient civil designers and engineers, we manage both residential and commercial projects across sectors.From site analysis to layout, grading and design drawing, we’re equipped to handle all custom requirements.Here’s what our land development processes cover.
						</p>
					<div class="text-center">
						<a ui-sref="landdevelopment" class="btn btn-primary">Know more...</a>
					</div>
				</div>
				</div>
				</div>
			</div>
			<div class="row" style="padding-top:20px">
				<div class="container">
				<div class="col-md-12 col-sm-6">
					<div class="text-center">
						<img src="img/icons/bims.png">
						<h5 class="sp-title">BUILDING INFORMATION MODELLING (BIM) </h5>
					</div>
					<p class="text-justify"> Bring your dream spaces to life, with building information modelling.Scale up your planning efficiency with our Building Information Modelling service. Our highly detailed and functional Building Information Models bring together the data from multiple disciplines to give you a realistic representation of your construction projects. Intelligently designed and integrated with critical MEP, Architectural, Structural, Fire Fighting Camp; HVAC, GIS and Land Survey data that architects, real estate developers, contractors and other professionals need, our 3D models are highly adaptable.We work with additional dimen.sions (4D Camp; 5D) that helps our customers with time and cost benefits immensely. When it comes to BIM, you-. can trust: us as an integral part of your team and experience a wealth of cost and time savings. Here's a brief roundup of the data types our models will incorpora
					</p>
				</div>
				<div class="text-center">
						<a ui-sref="bim" class="btn btn-primary">Know more...</a>
				</div>
				
				</div>
		   </div>
			<div class="row" style="padding-top:20px;padding-bottom:20px">
				<div class="container">
				<div class="col-md-12">
				<div class = "col-sm-6 col-md-6">
					<div class="text-center">
						<img src="img/icons/drawing.png">
						<h5 class="sp-title">ARCHITECTURAL CAD DRAFTING</h5>
					</div>
					<p class="text-justify">Why build castles in the air, when we can reimagine them in reality? Supported by stringent processes and driven by domain experts, our end-to-end CAD drafting services cover architectural drafting too.G-Source interfaces with construction architects, contractors, builders and land developers to deliver highly precise architectural drafting services. Develop intricate floor plans, elevations, utility plans and renderings for commercial and residential projects, taking your dream project a step closer to reality.</p>
					 <div class="text-center">
							<a ui-sref="architectcad" class="btn btn-primary">Know more...</a>
					</div>
					</br>
				</div>
		   
				<div class = "col-sm-6 col-md-6">
					<div class="text-center">
						<img src="img/icons/cad-files.png">
						<h5 class="sp-title">CAD CONVERSION </h5>
					</div>
					<p class="text-justify">Drive engineering innovation and efficiency, every single day.Get high quality CAD drawings with all revisions recorded, tuned and delivered for maximum customization. Our extensive experience in conversions covers all structures, including stadiums, hospitals, pumping stations, oil refineries, manufacturing facilities, water purification plants, and railway tracks/stations.At G-Source, we’ve converted files from as old as 1900 for civic authorities in the US, with absolute clarity!
					</p>
					<div class="text-center">
						<a ui-sref="cadconversion" class="btn btn-primary">Know more...</a>
					</div>
				</div>
			</div>
			</div>
			</div>
		    
		</div>
		<div class="landing-bottom">
			<img src="img/cad-footer.png" alt="cad" class="full-img">
		</div>
	</div>
</div>	
	
<script>
	$.scrollify.disable();
</script>