<div class="custom_section">
<div class="about">
	<div class="container">          
	  <ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li id="bcrumb-li">Technology</li>        
	  </ol>
	</div>
	
	
	 <div class="container">
        <div class="text-center">
            <div class="imgages">
                <img src="img/icons/compass.png" class="img-responsive" alt="CAD">
            </div>
            <h1 class="primary">
                TECHNOLOGY
            </h1>
            <p class="danger uppercase here-m subpage-tagline">DESIGN YOUR VIRTUAL SPACES AND APPLICATIONS, INSIDE AND OUT.</p>
        </div>
		<div class= "row" style="padding-top:20px">
				<div class="container">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<a ui-sref=""><div class="reason-detail text-center DAS">
								<div class="circle"></div>
								<p class="text-center"><strong>DRONE APPS & SYSTEMS </strong></p>
							</div></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<a ui-sref=""><div class="reason-detail text-center DMA">
								<div class="circle"></div>
								<p class="text-center"><strong>DATABASE MANAGEMENT AND ADMINISTRATION </strong></p>
							</div>
						</div></a>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<a ui-sref=""><div class="reason-detail text-center DDS">
								<div class="circle"></div>
								<p class="text-center"><strong>DESIGN AND DEVELOPMENT SERVICE</strong></p>
							</div></a>
						</div>
						
					</div>
				</div>
				
		</div>	
		<div class="needing"></div>
        <div class="info">
            <p class="text-justify">Create and customise beautiful layouts and responsive interfaces through our seamless web design and development
                services. Experience end-to-end integration with technology services starting from application development
                to database consulting and remote DBA support. </p>
            <p class="text-justify">Get an edge in the ever-growing market with our Drone Data Management System, and capture and analyze intricate
                data through drones to create extensive georeferenced maps. </p>
            <span>Here's a quick breakdown of our technology services.  </span>
        </div>
	</div>
	
	
	<div class="container" style="padding-bottom:20px">
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="text-center">
					<img src="img/icons/techicon1.png">
					<h5 class="sp-title">DRONE APPS & SYSTEMS </h5>
				</div>

				<p class="text-justify">Even an eye in the sky needs a mind to map data! Stay at the crossroads of innovation and efficiency with our Drone Data capture and monitoring services. G-Source provides technology and CAD solutions to leading land developers making it possible to track terrain and land development on a regular basis. We create custom applications that can automate routine and time consuming processes involved in drone data processing and mapping this information.
				</p>
				<!-- <div class="text-center"> -->
					<!-- <a ui-sref="" class="btn btn-primary">Know More...</a> -->
				<!-- </div> -->
			</div>	
			<div class="col-md-4">
				<div class="text-center">
					<img src="img/icons/techicon2.png">
					<h5 class="sp-title">DATABASE MANAGEMENT AND ADMINISTRATION </h5>
				</div>

				<p class="text-justify"> Having quality CAD and GIS data is one thing and maintaining records over years and referring to them as and when needed is quite another. Spatial data usually occupies a lot of digital space and requires special databases and capable database administration. G-Source provides you with customized Database Management (DBM) and Database Administration (DBA) services to take control of the plethora of data lying with you. With you being in control of the data at your disposal, it becomes easy to analyse and make business decisions based on these analyses on a daily basis. Also, a well maintained database is the foundation to all custom location based applications which can have one or a million users in a state. Our in-house BDA and DBM teams take care of this and ensure that your systems work smoothly 24/7.</p>
				<!-- <div class="text-center"> -->
					<!-- <a ui-sref="" class="btn btn-primary">Know More...</a> -->
				<!-- </div> -->
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<img src="img/icons/techicon3.png">
					<h5 class="sp-title">DESIGN AND DEVELOPMENT SERVICE</h5>
				</div>

				<p class="text-justify">Automate all your processes with applications from G-Source. Productivity is paramount in a fast growing market, so it's imperative to leverage technology for greater internal efficiency. That's where we come in! At G-Source, we transcend entire ecosystems to be a one-stop destination for technological solutions. And that's why we create custom applications for both web and mobile platforms for CAD, GIS and Drone file management systems applications too. Through intelligent automation, applying business intelligence and data analytics, we provide robust applications. These can be hosted on the cloud and shared with as many users as you need with multiple levels of access and permissions as the demands of the application</p>
				<!-- <div class="text-center"> -->
					<!-- <a ui-sref="" class="btn btn-primary">Know More...</a> -->
				<!-- </div> -->
			</div>	
		</div>
	</div>
			<div class="landing-bottom">
                <img src="img/cad-footer.png" alt="cad" class="full-img">
            </div>
            
</div>
</div>
<script>
	$.scrollify.disable();
</script>