<div class="custom_section">
<div class="about">
	<div class="container">          
	  <ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li id="bcrumb-li">Terms & Conditions</li> 
	  </ol>
	</div>
    <div class="container">
        <div class="text-center privacy-heading">
            <h1 class="primary uppercase">
                TERMS & CONDITION
            </h1>
        </div>
        <div class="privacy-content text-justify">
            <P>Powered by intelligent insights, expert analysts and cutting-edge technology, G-Source Technologies delivers highly
                efficient and customized engineering, design, GIS and technology solutions. In a vast unexplored universe
                of design and technology services, G-Source Technologies holds the key to unlocking unlimited possibilities.
                The secret science of how the operational, technological and engineering functions are all interconnected,
                feeding off each other. </P>
            <P>And with our base station as the vantage point, we'll help propel your business with the fuel it needs to launch
                into bigger and better realms. Customization is not just a buzzword at G-Source Technologies, it's hardwired
                into our roots. That's precisely why we bring together strategic vision, business intelligence and technological
                knowhow under one roof, to provide comprehensive and end-to- end solutions that are tailored to fit your
                every requirement. </P>
            <P>So you can carve out your own constellation from the expanse of stars. Every single time. </P>
            <P>The following is the terms of agreement between <span class="primary">G-SOURCE TECHNOLOGIES</span> the USER of
                SERVICES through the company's website <a href="www.gsourcedata.com">(www.gsourcedata.com)</a>. If you do
                not agree to these terms, you will not be able to use the services rendered by G-SOURCE TECHNOLOGIES, so please
                review these terms carefully:</P>

            <p class="terms-subtitle">1. INTRODUCTION </p>
            <P><span class="primary">USER </span> to the terms and conditions outlined in this contract ("contract") with respect
                to the services and information provided by or through the site. This contract constitutes the entire and
                only agreement between <span class="primary">G-SOURCE TECHNOLOGIES</span> and <span class="primary">USER</span>,
                and supersedes any and all prior or contemporaneous agreements, representations, warranties, and understandings
                with respect to the <span class="primary">SERVICES</span> and information provided by or through www.gsourcedata.com
                and the subject matter of this contract. <span class="primary">USER</span> agrees to review this contract
                prior to uploading any of his work and purchase of a service shall be deemed acceptance of this contract,
                however USER gets a flexibility of not purchasing the service before getting the service. Hence <span class="primary">USER </span>                can pay for the services offered to him/her by<span class="primary"> G-SOURCE TECHNOLOGIES</span> only after
                he/she receives it in her Dashboard maintained on <a href="www.gsourcedata.com"> www.gsourcedata.com</a>
            </P>
            <p class="terms-subtitle">2. SETUP AND PAYMENT </p>
            <P>Registration and Login for the <span class="primary">USER</span> is free, however use of our services is payable
                at a cost mentioned on www.gsourcedata.com.USER represents and warrants that (i) the credit card, debit card
                and other banking details/information supplied is true, correct and complete and (ii) charges incurred by
                the <span class="primary">USER</span> will be honoured by the<span class="primary"> USER's</span> card company/bank
                and (iii) <span class="primary">USER </span> pay charges incurred by <span class="primary">USER</span> at
                the amounts in effect at the time incurred, including all applicable taxes. USERs shall be responsible for
                all the charges incurred through use of <span class="primary">USER's</span> password. <span class="primary">USER</span>                agrees to keep his or her password confidential and to notify the company within 24 hours of any breach of
                this contract or unauthorized use of password. <span class="primary">G-SOURCE TECHNOLOGIES</span> not protect
                USER from unauthorized use of USER's password. <span class="primary">USER</span> has to pay for the services
                obtained in not MORE than 15 days from the day of Order dispatch on the <span class="primary">USER's</span>                Dashboard on
                <a href="www.gsourcedata.com"> www.gsourcedata.com</a>. G-Source Technologies for now has not been keeping
                the Credit/Debit Card Details of its customers. All the payments on the processed Orders are done through
                an Online Payment Gateway or through regular banking and the Card Details are not stored with Us.
            </P>
            <p class="terms-subtitle">3. COPYRIGHT</p>
            <P>The content, organization, gathering, compilation, magnetic translation, digital conversation and other matters
                related to <a href="www.gsourcedata.com">www.gsourcedata.com</a> are protected under applicable copyrights,
                trademarks, and other company (including but not limited intellectual property) rights, and , the copying,
                redistribution, use or publication by a <span class="primary">USER</span> of any such content or any part
                of
                <a href="www.gsourcedata.com"> www.gsourcedata.com</a> is prohibited.</P>
            <p class="terms-subtitle">4. EDITING, DELETING AND MODIFICATION </p>
            <P><span class="primary">G-SOURCE TECHNOLOGIES</span> reserves the right in its sole discretion to edit or delete
                any information or content appearing on <a href="www.gsourcedata.com"> www.gsourcedata.com</a> and to remove
                any services, tariffs etc. Upon notice published over the service,<span class="primary"> G-SOURCE TECHNOLOGIES</span>                may modify this contract, or prices, and may discontinue or revise any or all aspects of <a href="www.gsourcedata.com"> www.gsourcedata.com</a>                in its sole discretion and without prior notice. Modification of this contract will be deemed effective upon
                publication on<a href="www.gsourcedata.com"> www.gsourcedata.com</a> with respect to transactions occurring
                after said date. </P>
            <p class="terms-subtitle">5. RIGHT TO USE</p>
            <P><span class="primary">G-SOURCE TECHNOLOGIES</span> reserves the right in its sole discretion to refuse service
                at any time. Sale of any <span class="primary">SERVICES</span> is subject to availability.</P>
            <p class="terms-subtitle">6. INDEMNIFICATION </p>
            <P><span class="primary">USER </span> to indemnify, defend and hold <span class="primary">G-SOURCE TECHNOLOGIES</span>                and its affiliates, licensors, and suppliers harmless from liability, loss, claim and expense, including
                reasonable attorney's fees, related to a USER's violation of this contract or use of <a href="www.gsourcedata.com">www.gsourcedata.com</a></P>
            <p class="terms-subtitle">7. NON-TRANSFERABLE </p>
            <P><span class="primary">USER's</span> right to use the service is not transferable and is subject to any limits
                established by G-SOURCE TECHNOLOGIES.</P>
            <p class="terms-subtitle">8. DISCLAIMER </p>
            <P>The service, content, services from or through the service are provided "as-is", "asavailable", and all warranties,
                express or implied, are disclaimed (including but not limited to the disclaimer of any implied warranties
                of merchantability and fitness for a particular purpose). The sole and entire maximum liability of G-Source
                Technologies, for any reason, and user's sole and exclusive remedy for any cause whatsoever, shall be limited
                to the amount paid by the customer for the particular items purchased. G-Source Technologies and any of its
                affiliates, dealers or suppliers are not liable for any indirect, special, incidental, or consequential damages
                (including damages for loss of business, loss of profits, litigation, or the like), whether based on breach
                of contract, breach of warranty, tort (including negligence), product liability or otherwise, even if advised
                of the possibility of such damages. The limitations of damages set forth above are fundamental elements of
                the basis of the bargain between G-Source Technologies and user.<a href="www.gsourcedata.com"> www.gsourcedata.com </a>                services would not be provided without such limitations. Some state statutes may apply regarding limitation
                of liability. </P>
            <p class="terms-subtitle">9. TERMINATION </p>
            <P>Either<span class="primary"> G-SOURCE TECHNOLOGIES </span> User may terminate this Agreement at any time. Without
                the foregoing,<span class="primary"> G-SOURCE TECHNOLOGIES</span> shall have the right to immediately terminate
                User's Account in the event of any conduct by User which <span class="primary">G-SOURCE TECHNOLOGIES</span>                , in its sole discretion considers to be unacceptable, or in the event of any breach by User of this Agreement.
            </P>
            <p class="terms-subtitle">10. DELIVERY TIME </p>
            <P>The delivery timeframe for the orders to be processed and uploaded on the customer's dashboard is decided based
                on the number of hours taken to complete the order. All estimated delivery time frames will be notified to
                the User by our teams within 6 hours from the receipt of the Order.</P>
            <p class="terms-subtitle">11. USE OF INFORMATION </p>
            <P><span class="primary">G-SOURCE TECHNOLOGIES </span> the right, and <span class="primary">USER</span> authorizes
                <span class="primary">G-SOURCE TECHNOLOGIES</span>, to the use and assignment of all information regarding
                <span class="primary"> USER's</span> use of <a href="www.gsourcedata.com">www.gsourcedata.com</a> and all
                information provided by <span class="primary">USER</span>, subject to applicable law. </P>
            <p class="terms-subtitle">12. GOVERNING LAW </p>
            <P>This contract shall be treated as though it were executed and performed in Florida, United States and shall be
                governed by and construed in accordance with the laws of Florida, United States (without regard to conflict
                of law principles). Any cause of action of USER with respect to <a href="www.gsourcedata.com">www.gsourcedata.com </a>                be instituted within 2 months after any purchase or be forever waived and barred. All actions shall be subject
                to the limitations set forth in section 8. The language in this contract shall be interpreted as to its fair
                meaning and not strictly for or against any party. </P>
            <p class="terms-subtitle">13. LITIGATION <p>
            <P>All legal proceedings arising out of or in connection with this contract shall be brought solely in India and
                <span class="primary">USER</span> expressly submits to the jurisdiction of said courts and <span class="primary">USER</span>                consents to extra-territorial service of process. Should any part of this contract be held invalid or unenforceable,
                that portion shall be construed consistent with applicable law as nearly as possible to reflect the original
                intentions of the parties and the remaining portions shall remain in full force and effect. To the extent
                that anything in or associated with <a href="www.gsourcedata.com">www.gsourcedata com </a> or <span class="primary">G-SOURCE TECHNOLOGIES
                in conflict or inconsistent with this Contract, this Contract shall take precedence. Failure of G-SOURCE TECHNOLOGIES</span>                to enforce any provision of this Contract shall not be deemed a waiver of such provision nor of the right
                to enforce such provision.
            </P>
            <p class="terms-subtitle">14. ACKNOWLEDGMENT </p>
            <p>This Agreement represents the entire understanding between you and us regarding your relationship to Online and
                supersedes any prior statements or representations. If you agree to be bound by the terms of this online
                agreement, please register through this link <a href="http://gsourcedata.com/#!/registration"> http://gsourcedata.com/#!/registration</a>                and start your association with us.
            </p>
        </div>
    </div>
</div>
</div>
<script>
	$.scrollify.disable();
</script>