<div class="custom_section">
<div class="work about">
    <div class="work-container">
		<div class="container">          
		  <ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li id="bcrumb-li">Why Work With Us</li> 
		  </ol>
		</div>
        <div class="container">
            <div class="text-center">
                <h1 class=" primary uppercase">
                    Why Work With Us?
                </h1>
                <p class="danger subpage-tagline">When you think ground control, think G-Source.</p>
            </div>
            <div class="info">
                <p>In an interconnected galaxy of stars and planets much like the highly fragmented market of engineering services,
                    G-Source is the <a href="abouts" class="bold black">one-stop base station</a> that adds method to the
                    madness.
                </p>
                <p>With a strong backbone of business and technical experts, years of data-driven experience and extensive resources,
                    G-Source helps you carve out your own pattern from a constellation of services.
                </p>
                <p>Bespoke, and tailored to fit your big idea. </p>
                <span>Straight from our one-stop-station.</span>
            </div>
            <div class="reasons">
                <h5 class=" primary text-center uppercase">
                    Need more reasons? We’ve got five.
                </h5>
                <div class="reason-points">
                    <div class="reasons1">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="reason-detail text-center">
                                    <div class="circle work1"></div>
                                    <h5 class="uppercase">Pinpoint accuracy</h5>
                                    <p class="letter0">Be it CAD drafting or GIS maps, we realize the importance of accuracy in them and take pride in providing the best accuracy standards in the industry. When it comes to being on point with accuracy, we literally don’t give away an inch!</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="reason-detail text-center">
                                    <div class="circle work2"></div>
                                    <h5 class="uppercase ">Efficiency over everything</h5>
                                    <p class="letter0">When we say end-to-end drafting and geospatial solutions, we mean it. An in-house team that boasts of professional drafters, designers, image processing experts and technology evangelists, our ideas flow seamlessly and we have found a way to leaks at bay. This ensures that our plan to execution success rate is always high and that reflects in our results.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reasons1">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="reason-detail text-center work-tab">
                                    <div class="circle work3"></div>
                                    <h5 class="uppercase">Lightning fast turnaround times</h5>
                                    <p class="letter0">With teams in the US and India working 24/7, there is no downtime with us in the picture.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="reason-detail text-center">
                                    <div class="circle work4"></div>
                                    <h5 class="uppercase">Customized teams, customized solutions</h5>
                                    <p class="letter0">Expand your global presence with highly specialized units across the world. We build highly specialized teams based on your unique requirements, in an effort to deliver the right solutions that propel your business. Get access to some of the best talent in the industry, thanks to our expert vendors with proven track records.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reasons1">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="reason-detail work-tab text-center">
                                    <div class="circle work5"></div>
                                    <h5 class="uppercase ">Lean bottom lines and cranked up profits</h5>
                                    <p class="letter0">With an in house team for all drafting, mapping and technology requirements, we walk the walk with our value for money approach. In addition, we do offer a free sample to our new customers for you to see the quality of our work.</p>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more text-center qbold">
                <p class="mores"> There’s more!</p>
                <p>
                    <button class="buttons brand-danger btn-partner" ui-sref="registration">Partner with Us</button> through
                    the G-Source Partnership Program to access <br>end-to-end solutions, from design to development.
                </p>
                <p>
                    To view our samples, check out our comprehensive <a class="pointer" ui-sref="service">list of services.</a>
                </p>
            </div>
			
           
        </div>
		<div class="landing-bottom">
                <img src="img/cad-footer.png" alt="cad" class="full-img">
            </div>
    </div>
</div>
</div>
<script>
	$.scrollify.disable();
</script>